* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 100%;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

body {
    background-color: #f2f2f2;
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    letter-spacing: 2px;
    font-size: 0.75rem;
}

button {
    font-size: 1.125rem;
    width: 20.44rem;
    padding: 0.94rem 0;
    border-radius: 8px;
    border: none;
    background-color: hsl(278, 68%, 11%);
    color: #fff;
    margin: 0 auto;
    display: block;
}


/* ----------------------MOBILE---------------------- */

/* Cards */

.cards-background {
    position: absolute;
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 32vh;
    width: 100%;
    padding-top: 2rem;

}

.card-front {
    background-image: url(./images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 17.88rem;
    min-height: 9.81rem;
    position: absolute;
    z-index: 1;
    margin: 5.56rem 4.56rem 0 1rem;
    color: #fff;
    padding-left: 1.19rem;
}

.card-front img {
    padding-top: 1.1rem;
    width: 3.5rem;
}

.card-number {
    font-size: 1.13rem;
    padding-top: 1.25rem;
}

.name-expiration {
    display: flex;
    padding-top: 1.06rem;
}

.card-name, .card-expiration-date, .cv-number {
    font-size: 0.56rem;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #fff;
}

.card-expiration-date {
    margin-left: 7.75rem;
}

.card-back {
    background-image: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 17.88rem;
    min-height: 9.81rem;
    z-index: 0;
    margin: 0 1rem 0 4.56rem;
}

.cv-number {
    text-align: right;
    padding-right: 2.31rem;
    padding-top: 4.44rem;
}

/* Input Information */

section {
    padding: 19.38rem 1.5rem 1.75rem;
}

section h2 {
    padding-bottom: 0.56rem;
    padding-top: 1.25rem;
}

input {
    height: 2.81rem;
    border-radius: 8px;
    background-color: transparent;
    padding: 0.69rem 0 0.69rem 1rem; 
}

.cardholder-name, .card-number-txt {
    width: 20.44rem;
}

.expiration-cvc {
    display: flex;
}

.cvc-txt {
    padding-left: 1.44rem;
}

.exp-date-mm, .exp-date-yy {
    width: 4.5rem;
    margin-right: 0.63rem;
}

.cvc {
    width: 100%;
}










/* Completed state start - Hidden to start */


.completed-state {
    text-align: center;
    display: none;
}

.completed-state img {
    padding-bottom: 35px;
}

.completed-state h1 {
    padding-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 3.4px;
    color: hsl(278, 68%, 11%);
}

.completed-state p {
    padding-bottom: 48px;
    color: #8F8694;
}

/* PICKUP WHERE YOU LEFT OFF */
/* 
- Edit elements so that they're responsive
- Change elements to REM and more responsiveness */