* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 100%;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

body {
    background-color: #f2f2f2;
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    letter-spacing: 2px;
    font-size: 0.75rem;
}

button {
    font-size: 1.125rem;
    width: 20.44rem;
    padding: 0.94rem 0;
    border-radius: 8px;
    border: none;
    background-color: hsl(278, 68%, 11%);
    color: #fff;
    margin: 1.75rem auto 0 auto;
    display: block;
}


/* ----------------------MOBILE---------------------- */

/* Cards */

.cards-background {
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 32vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back, .cvc-zero {
    position: absolute;
}

.back, .front {
    width: 17.88rem;
}

.back {
    transform: translate(10%, 0);
   }

.cvc-zero {
    color: #fff;
    font-size: 9px;
    padding-bottom: 1.7px;
    margin-left: 15.8rem;
    letter-spacing: 1.29px;
}

.front-container {
    z-index: 1;
    margin-top: 11.4rem;
    margin-right: 4rem;
    position: relative;
}

.front-info {
    position: absolute;
    bottom: 5.6rem;
    left: 1.25rem;
    top: 18px;
}
.front-logo {
    z-index: 1;
    width: 54px;
    padding-bottom: 1.875rem;
}

.front-number {
    color: #fff;
    font-size: 1.125rem;
    letter-spacing: 2.2px;
    padding-bottom: 1.06rem;
}

.name-date {
    display: flex;
    justify-content: space-between;
}
.name-date h1 {
    font-size: 9px;
    letter-spacing: 1.29px;
    color: #fff;
}





/* Input Information */

section {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}

section h2 {
    padding-bottom: 0.56rem;
    padding-top: 1.25rem;
}

input {
    height: 2.81rem;
    border-radius: 8px;
    background-color: transparent;
    padding: 0.69rem 0 0.69rem 1rem; 
    display: block;
    margin: auto;
}

.cardholder-name, .card-number-txt {
    width: 20.44rem;
}

.expiration-cvc {
    display: flex;
}

.cvc-txt {
    padding-left: 1.4rem;
}

.exp-date-mm, .exp-date-yy {
    width: 4.7rem;
}

input.cvc {
    width: 10.25rem;

}


/* Completed state start - Hidden to start */


.completed-state {
    text-align: center;
    display: none;
}

.completed-state img {
    padding-bottom: 35px;
}

.completed-state h1 {
    padding-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 3.4px;
    color: hsl(278, 68%, 11%);
}

.completed-state p {
    padding-bottom: 48px;
    color: #8F8694;
}

/* PICKUP WHERE YOU LEFT OFF */
/* 
- Edit elements so that they're responsive
- Change elements to REM and more responsiveness */